<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>UCX70sfic86MKcid2n0mmmqg</string>
		<key>image</key>
		<string>https://i.ytimg.com/vi/aFQjA3WX40Y/maxresdefault.jpg</string>
		<key>title</key>
		<string>ASMRRequest</string>
	</dict>
	<dict>
		<key>id</key>
		<string>UCgOfiuubHnhVrc9IEcSk1Nw</string>
		<key>image</key>
		<string>https://i.ytimg.com/vi/vzcgKiqUhwg/maxresdefault.jpg</string>
		<key>title</key>
		<string>ASMRMassage</string>
	</dict>
	<dict>
		<key>id</key>
		<string>UCCjpp4TCjnRftS_LenXuSHw</string>
		<key>image</key>
		<string>https://i.ytimg.com/vi/EfRINvNzRbI/hqdefault.jpg</string>
		<key>title</key>
		<string>ASMR JellyBean</string>
	</dict>
	<dict>
		<key>id</key>
		<string>UC6gLlIAnzg7eJ8VuXDCZ_vg</string>
		<key>image</key>
		<string>https://i.ytimg.com/vi/xUct97ij3HY/maxresdefault.jpg</string>
		<key>title</key>
		<string>GentleWhisper</string>
	</dict>
	<dict>
		<key>id</key>
		<string>UC2eddeJoyByJBjE4CYXwNXQ</string>
		<key>image</key>
		<string>https://s3.amazonaws.com/patreon/2254f24400cbafe1db8f4255ca24b92a.jpg</string>
		<key>title</key>
		<string>Heather Feather</string>
	</dict>
	<dict>
		<key>id</key>
		<string>UChRV-sCl5Fma4qm_hFpDKBQ</string>
		<key>image</key>
		<string>https://i.ytimg.com/vi/1eM6qK9BEbQ/maxresdefault.jpg</string>
		<key>title</key>
		<string>Ephemeral Rift</string>
	</dict>
	<dict>
		<key>id</key>
		<string>UCV508_Yoyrr3v6M0omlLlgA</string>
		<key>image</key>
		<string>https://i.ytimg.com/vi/_qscmiLap-g/maxresdefault.jpg</string>
		<key>title</key>
		<string>The UKASMR</string>
	</dict>
	<dict>
		<key>id</key>
		<string>UCDiNZYo9afpJ49zrNUhA5PA</string>
		<key>image</key>
		<string>https://i.ytimg.com/vi/bAyT7XBoNww/maxresdefault.jpg</string>
		<key>title</key>
		<string>ASMR Massage Psychetruth</string>
	</dict>
	<dict>
		<key>id</key>
		<string>UCO5gXBJ1bCW-zoKU1jZRMOg</string>
		<key>image</key>
		<string>https://pbs.twimg.com/profile_images/630400698945896448/9MEcNVsT.jpg</string>
		<key>title</key>
		<string>ASMattR</string>
	</dict>
	<dict>
		<key>id</key>
		<string>UC-r8XyqbggZobMiNsqgWkDg</string>
		<key>image</key>
		<string>https://i.ytimg.com/vi/MeWMfzaPCa4/maxresdefault.jpg</string>
		<key>title</key>
		<string>SpringBok</string>
	</dict>
</array>
</plist>
